{
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "wolox-react",
    "@wolox/eslint-config-typescript"
  ],
  "plugins": ["@typescript-eslint", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "project": "."
      },
      "alias": [
        ["~components", "./components"],
        ["~config", "./config"],
        ["~constants", "./constants/"],
        ["~context", "./context/"],
        ["~hooks", "./hooks/"],
        ["~services", "./services"],
        ["~utils", "./utils"]
      ]
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "jest": true
  },
  "ignorePatterns": ["node_modules/", ".next/"],
  "rules": {
    "react/prop-types": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-console": 1,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "prettier/prettier": [
      "error", 
      {
        "printWidth": 110, 
        "singleQuote": true,
        "trailingComma": "none",
        "arrowParens": "avoid"
      }
    ],
    "no-undef": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "default",
        "format": ["camelCase"]
      },
      {
        "selector": "variable",
        "format": ["camelCase", "UPPER_CASE", "PascalCase"]
      },
      {
        "selector": ["function", "typeLike"],
        "format": ["PascalCase"]
      },
      {
        "selector": "enumMember",
        "format": ["UPPER_CASE"]
      }
    ],
    "@typescript-eslint/no-shadow": "error",
    "no-shadow": "off"
  }
}
